html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

article {
  display: none;
}

article.active {
  display: block;
  transition: opacity 500ms;
}

.tabs .active {
  font-weight: bold;
}

.transitioning {
  display: block;
  opacity: 0;
  transition: opacity 500ms;
}
